.advantages {
    height: 475px;
    padding: 73px 0 83px 0;
    background-color: #F6F6F6;
    &__header {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__blocks {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
    }
    &__block {
        width: 260px;
        img {
            display: block;
            margin: 0 auto;
        }  
    }
    &__subheader {
        margin-top: 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        a {
            color: $main-color;
        }
    }
}
